/ {
    keymap {
        compatible = "zmk,keymap";

        layout {
            bindings = <
                &kp I &kp O &kp P &kp LBKT &kp RBKT &kp BSLS &kp DEL
                &kp K &kp L &kp SEMI &kp QUOT &kp ENTER &kp BSPC &kp RALT
                &kp COMMA &kp DOT &kp SLASH &kp RSFT &kp RCTRL &kp RGUI &kp INS
                &kp 8 &kp 9 &kp 0 &kp MINUS &kp EQUAL &kp GRAVE &kp CAPS
                &kp ESC &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6
            >;
        };
    };
};
